body{background-color: #f3efef;}

.container{margin-top: 1.2em;}

.title .container{margin-top: 0;}
.title{background-size: cover; background-position: center center; padding: 1em;}
.title h1, .title p{color: #fff;text-shadow: 3px 3px 3px rgba(0,0,0,0.5);}

.carousel-caption{text-shadow: 3px 3px 3px rgba(0,0,0,0.5);}

.avatar{width: 128px; height: 128px; border-radius: 50%;}

.avatar-medium{max-width: 64px; max-height: 64px;}
.avatar-small{max-width: 32px; max-height: 32px;}

footer{width: 100%;color:#f3efef; margin-top: 5em;}
