{% extends 'base.html.twig' %}

    {% block body %}

    <main class="container">

        <div class="jumbotron">
        <h1 class="h1">{{ titre }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_list') }}" role="button">Plus d'infos</a>
        </p>
        </div>

        <h3 class="h1 mt-3 mb-4">Offres spéciales</h3>
        <section class="row">
        
            <article class="col-md-4">
                <div class="card mb-3">
                    <h4 class="card-header text-white bg-primary">3 chambres, <strong>50 &euro;</strong>/ nuit</h4>
                    <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/arch" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Loft à Londres</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                        
                    </div>
                    <div class="card-footer text-muted">
                        Pas encore noté.
                    </div>
                </div>
             </article>  
             <article class="col-md-4">
                <div class="card mb-3">
                    <h4 class="card-header text-white bg-primary">2 chambres, <strong>60 &euro;</strong>/ nuit</h4>
                    <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/people" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Appartement à Marseille</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                        
                    </div>
                    <div class="card-footer text-muted">
                        Pas encore noté.
                    </div>
                </div>
             </article> 
             <article class="col-md-4">
                <div class="card mb-3">
                    <h4 class="card-header text-white bg-primary">5 chambres, <strong>99 &euro;</strong>/ nuit</h4>
                    <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/nature" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Maison dans le Main</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">+ d'infos</a>
                        
                    </div>
                    <div class="card-footer text-muted">
                        Pas encore noté.
                    </div>
                </div>
             </article>     
        </section>

         <h3 class="h1 mt-5 mb-4">Les meilleurs annonceurs</h3>
        <section class="row">
        
            <article class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header text-primary bg-warning">John Doe</h5>
                    <div class="card-body">
                        <img src="https://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                    </div>
                </div>
             </article>  
             
             <article class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header text-primary bg-warning">Michael Collins</h5>
                    <div class="card-body">
                        <img src="https://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                    </div>
                </div>
             </article>  
             <article class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header text-primary bg-warning">Peter Lord</h5>
                    <div class="card-body">
                        <img src="https://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                    </div>
                </div>
             </article>  
             <article class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header text-primary bg-warning">William Doe</h5>
                    <div class="card-body">
                        <img src="https://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nam beatae accusamus praesentium voluptas!.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                    </div>
                </div>
             </article>  
                
        </section>

    </main>



    {% endblock %}
    
